
.content {
  padding: 8px;
  ion-icon {
    position: absolute;
    font-size: 36px;
    right: 8px;
    top: 16px;
    z-index: 1;
  }
  .img-box{
    display: flex;
    margin-top: 16px;

    img{
      height: 100%;
      object-fit: cover;
    }
  }
  .info-box{
    margin: 8px;
    p {
      margin: 0;
    }
  }
}
